[package]
name = "arre_mind_reader"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = { version = "0.18", default-features = false, features = ["dynamic_linking", "2d"] }
bevy_egui = "0.39"
serde = { version = "1.0", features = ["derive"] }
ron = "0.8"
rfd = "0.15"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3
